<!-- ▼▼▼ 読み込みファイル（共通） ▼▼▼ -->
<script src="/{{ CONSTANTS.SITE_ROOT }}js/script.js"></script>
<script defer="defer" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<!-- ▲▲▲ 読み込みファイル（共通） ▲▲▲ -->
