<div class="footer-content">
    <div class="footer-content__container">
        <div class="footer-content__logo">
            <a href="/index.html">
                <img src="https://demo.tcd-theme.com/tcd041/wp-content/uploads/2016/11/logo.png" alt="{{ CONSTANTS.SITE_NAME }}">
            </a>
        </div>
        <p class="footer-content__text">〒542-0081 大阪府大阪市淀川区 Luxury Salonビル30F　TEL.06-0000-0000<br> 営業時間 /11:00 - 19:00 定休日 / 火曜（祝日を除く）</p>
    </div>
</div>
