<!-- ▼▼▼ フッター ▼▼▼ -->
<footer class="footer">
    {% include './foot-footer-gallery.njk' %}
    {% include './foot-footer-nav.njk' %}
    {% include './foot-footer-content.njk' %}
    {% include './foot-footer-bar.njk' %}
</footer>
<!-- ▲▲▲ フッター ▲▲▲ -->
