<div class="footer-bar">
  <div class="footer-bar__container">
    {# <ul class="social-nav">
      <li class="social-nav-twitter social-nav-item"><a href="https://twitter.com/tcd_jp" target="_blank"></a></li>
      <li class="social-nav-facebook social-nav-item"><a href="https://www.facebook.com/wptcd/" target="_blank"></a></li>
      <li class="social-nav-instagram  social-nav-item"><a href="https://www.instagram.com/tcd_dp/" target="_blank"></a></li>
      <li class="social-nav-rss social-nav-item"><a href="https://demo.tcd-theme.com/tcd041" target="_blank"></a></li>
    </ul> #}
  </div>
  <div class="footer-bar__copyright">
    <p class="footer-bar__copyright"><small>Copyright ©XXXXX. All Rights Reserved.</small></p>
  </div>
</div>
