{% extends 'layouts/default.njk' %}
{% set PAGE_DATA = {
    TITLE: 'トップページ',
    DESCRIPTION: 'ページの概要',
    PATH: '',
    NAV: 'top',
    ROOT: './'
} -%}

{# {% block PAGE_HEAD_FILES -%}
    <!-- ▼▼▼ 読み込みファイル（ページ専用） ▼▼▼ -->
    <link rel="stylesheet" href="/{{ CONSTANTS.SITE_ROOT }}css/top.css">
    <!-- ▲▲▲ 読み込みファイル（ページ専用） ▲▲▲ -->
{%- endblock %} #}

{% block PAGE_CONTENT -%}
{%- endblock %}

{# {% block PAGE_FOOT_FILES -%}
    <!-- ▼▼▼ 読み込みファイル（ページ専用） ▼▼▼ -->
    <link rel="stylesheet" href="/{{ CONSTANTS.SITE_ROOT }}css/top.css">
    <!-- ▲▲▲ 読み込みファイル（ページ専用） ▲▲▲ -->
{%- endblock %} #}
