@charset 'utf-8';

$BLOCK_NAME: ".button";

// 変数
$button_height: 50px;
$button_duration: 0.2s;

#{ $BLOCK_NAME } {
  display: block;
  height: $button_height;
  font-size: 14px;
  line-height: $button_height;
  color: $c_primary;
  text-align: center;
  text-decoration: none;
  background: $c_white;
  transition: $button_duration;
  &:hover {
    color: $c_white;
    background: $c_primary;
  }
}
