@charset 'utf-8';

$BLOCK_NAME: ".section";

// 変数

#{ $BLOCK_NAME } {
  @include container();
  padding: 90px 0;
  text-align: center;

  &__heading {
    font-family: $ff_serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 2.2;
    color: $c_primary;
  }

  &__heading2 {
    font-family: $ff_serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 2.2;
    color: $c_primary;
  }
}
