<!-- ▼▼▼ ヘッダー ▼▼▼ -->
<div class="header">
  <div class="header__container">
    <h1 class="header__logo">
      <a href="/index.html">
        <img class="header__logo-img" src="https://demo.tcd-theme.com/tcd041/wp-content/uploads/2016/11/logo.png" alt="{{ CONSTANTS.SITE_NAME }}">
      </a>
    </h1>
    <div class="header__nav">
      <button id="js-header__nav-button" class="header__nav-button"><i class="fas fa-bars"></i></button>
      <ul class="header__nav-menu --sp"></ul>
      <ul class="header__nav-menu --pc">
        <li class="header__nav-menu-item">
          <a href="https://demo.tcd-theme.com/tcd041/">HOME</a>
        </li>
      </ul>
    </div>
    {# <a href="#" id="global-nav-button" class="global-nav-button"></a> #}
    {# <nav id="global-nav" class="global-nav">
      <ul id="menu-%e3%82%b0%e3%83%ad%e3%83%bc%e3%83%90%e3%83%ab%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc" class="menu">
        <li id="menu-item-185" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-22 current_page_item menu-item-185"><a href="https://demo.tcd-theme.com/tcd041/" aria-current="page"><span></span>HOME</a></li>
        <li id="menu-item-186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-186"><a href="https://demo.tcd-theme.com/tcd041/?page_id=25"><span></span>CONCEPT</a>
          <ul class="sub-menu">
            <li id="menu-item-1966" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1966"><a href="https://demo.tcd-theme.com/tcd041/?page_id=129"><span></span>通常記事</a></li>
            <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7"><a href="https://demo.tcd-theme.com/tcd041/?cat=21"><span></span>アーカイブページ</a></li>
            <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10"><a href="https://demo.tcd-theme.com/tcd041/?post_type=news"><span></span>ニュースページ</a></li>
            <li id="menu-item-1974" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1974"><a href="#"><span></span>固定ページサンプル</a>
              <ul class="sub-menu">
                <li id="menu-item-1973" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1973"><a href="https://demo.tcd-theme.com/tcd041/?page_id=25"><span></span>CONCEPT</a></li>
                <li id="menu-item-1972" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1972"><a href="https://demo.tcd-theme.com/tcd041/?page_id=27"><span></span>WEDDING</a></li>
                <li id="menu-item-1971" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1971"><a href="https://demo.tcd-theme.com/tcd041/?page_id=29"><span></span>FACILITY</a></li>
              </ul>
            </li>
            <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8"><a href="https://demo.tcd-theme.com/tcd041/?page_id=217"><span></span>固定ページ（1カラム）</a></li>
            <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9"><a href="https://demo.tcd-theme.com/tcd041/?page_id=1464"><span></span>固定ページ（デフォルト）</a></li>
          </ul>
        </li>
        <li id="menu-item-1969" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1969"><a href="https://demo.tcd-theme.com/tcd041/?page_id=27"><span></span>WEDDING</a></li>
        <li id="menu-item-1968" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1968"><a href="https://demo.tcd-theme.com/tcd041/?page_id=29"><span></span>FACILITY</a></li>
        <li id="menu-item-5" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5"><a href="https://demo.tcd-theme.com/tcd041/?post_type=gallery"><span></span>GALLERY</a></li>
        <li id="menu-item-6" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6"><a href="https://demo.tcd-theme.com/tcd041/?page_id=129"><span></span>BLOG</a>
          <ul class="sub-menu">
            <li id="menu-item-1912" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1912"><a href="https://demo.tcd-theme.com/tcd041/?cat=21"><span></span>THEME</a></li>
            <li id="menu-item-1913" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1913"><a href="https://demo.tcd-theme.com/tcd041/?cat=1"><span></span>FEATURE</a></li>
            <li id="menu-item-1914" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1914"><a href="https://demo.tcd-theme.com/tcd041/?cat=20"><span></span>DESIGN</a></li>
          </ul>
        </li>
        <li id="menu-item-1536" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1536"><a target="_blank" rel="noopener noreferrer" href="http://tcd-theme.com/tcd041"><span></span>DOWNLOAD</a></li>
      </ul>
    </nav> #}
  </div>
</div>
<!-- ▲▲▲ ヘッダー ▲▲▲ -->
