{% set HEADER_LINKS = [
  {
    label: 'HOME',
    link: 'https://demo.tcd-theme.com/tcd041/',
    children: []
  },
  {
    label: 'CONCEPT',
    link: 'https://demo.tcd-theme.com/tcd041/?page_id=25',
    children: [
      {
        label: '通常記事',
        link: 'https://demo.tcd-theme.com/tcd041/?page_id=129'
      },
      {
        label: 'アーカイブページ',
        link: 'https://demo.tcd-theme.com/tcd041/?cat=21'
      },
      {
        label: 'ニュースページ',
        link: 'https://demo.tcd-theme.com/tcd041/?post_type=news'
      },
      {
        label: '固定ページサンプル',
        link: 'https://demo.tcd-theme.com/tcd041/?page_id=27'
      },
      {
        label: '固定ページ（1カラム）',
        link: 'https://demo.tcd-theme.com/tcd041/?page_id=217'
      },
      {
        label: '固定ページ（デフォルト）',
        link: 'https://demo.tcd-theme.com/tcd041/?page_id=1464'
      }
    ]
  },
  {
    label: 'WEDDING',
    link: 'https://demo.tcd-theme.com/tcd041/?page_id=27',
    children: []
  },
  {
    label: 'FACILITY',
    link: 'https://demo.tcd-theme.com/tcd041/?page_id=29',
    children: []
  },
  {
    label: 'GALLERY',
    link: 'https://demo.tcd-theme.com/tcd041/?post_type=gallery',
    children: []
  },
  {
    label: 'BLOG',
    link: 'https://demo.tcd-theme.com/tcd041/?page_id=129',
    children: [
      {
        label: 'THEME',
        link: 'https://demo.tcd-theme.com/tcd041/?cat=21'
      },
      {
        label: 'FEATURE',
        link: 'https://demo.tcd-theme.com/tcd041/?cat=1'
      },
      {
        label: 'DESIGN',
        link: 'https://demo.tcd-theme.com/tcd041/?cat=20'
      }
    ]
  },
  {
    label: 'DOWNLOAD',
    link: 'http://tcd-theme.com/tcd041',
    children: []
  }
] -%}

<!-- ▼▼▼ ヘッダー ▼▼▼ -->
<div class="header">
  <div class="header__container">
    <h1 class="header__logo">
      <a href="/index.html">
        <img class="header__logo-img" src="https://demo.tcd-theme.com/tcd041/wp-content/uploads/2016/11/logo.png" alt="{{ CONSTANTS.SITE_NAME }}">
      </a>
    </h1>
    <ul class="header__nav">
      {%- for HEADER_LINK in HEADER_LINKS -%}
        {%- if HEADER_LINK.children.length -%}
          {# ▼▼▼ 子リンクがある場合 ▼▼▼ #}
          <li class="header__nav-item --has-child">
            <a href="{{ HEADER_LINK.link }}">{{ HEADER_LINK.label }}</a>
            <ul class="header__nav-child">
              {%- for HEADER_LINK_CHILD in HEADER_LINK.children -%}
                <li class="header__nav-child-item">
                  <a href="{{ HEADER_LINK_CHILD.link }}">{{ HEADER_LINK_CHILD.label }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </li>
          {# ▲▲▲ 子リンクがある場合 ▲▲▲ #}
        {%- else -%}
          {# ▼▼▼ 子リンクがない場合 ▼▼▼ #}
          <li class="header__nav-item">
            <a href="{{ HEADER_LINK.link }}">{{ HEADER_LINK.label }}</a>
          </li>
          {# ▲▲▲ 子リンクがない場合 ▲▲▲ #}
        {%- endif -%}
      {%- endfor -%}
    </ul>
    <button id="js-header__button" class="header__button">
      <i class="header__button-icon --open fas fa-bars"></i>
      <i class="header__button-icon --close fas fa-times"></i>
    </button>
  </div>
</div>
<ul id="js-header__menu" class="header__menu">
  {%- for HEADER_LINK in HEADER_LINKS -%}
    {%- if HEADER_LINK.children.length -%}
      {# ▼▼▼ 子リンクがある場合 ▼▼▼ #}
      <li class="header__menu-item --has-child">
        <a href="{{ HEADER_LINK.link }}">{{ HEADER_LINK.label }}<i class="header__menu-icon fas fa-chevron-down"></i></a>
        <ul class="header__menu-child">
          {%- for HEADER_LINK_CHILD in HEADER_LINK.children -%}
            <li class="header__menu-child-item">
              <a href="{{ HEADER_LINK_CHILD.link }}">{{ HEADER_LINK_CHILD.label }}<i class="header__menu-child-icon fas fa-chevron-right"></i></a>
            </li>
          {%- endfor -%}
        </ul>
      </li>
      {# ▲▲▲ 子リンクがある場合 ▲▲▲ #}
    {%- else -%}
      {# ▼▼▼ 子リンクがない場合 ▼▼▼ #}
      <li class="header__menu-item">
        <a href="{{ HEADER_LINK.link }}">{{ HEADER_LINK.label }}<i class="header__menu-icon fas fa-chevron-right"></i></a>
      </li>
      {# ▲▲▲ 子リンクがない場合 ▲▲▲ #}
    {%- endif -%}
  {%- endfor -%}
</ul>
<!-- ▲▲▲ ヘッダー ▲▲▲ -->
