<div class="top-slider-wrapper">
  <div id="top-slider" class="top-slider">
    <div id="top-slider-item1" class="top-slider-item"><a href="https://demo.tcd-theme.com/tcd041/?page_id=25"><span></span></a></div>
    <div id="top-slider-item2" class="top-slider-item"><a href="https://demo.tcd-theme.com/tcd041/?page_id=27"><span></span></a></div>
    <div id="top-slider-item3" class="top-slider-item"><a href="https://demo.tcd-theme.com/tcd041/?page_id=29"><span></span></a></div>
  </div>
  <ul id="top-slider-nav" class="top-slider-nav">
    <li class="active"><a href="#top-slider-item1"></a></li>
    <li><a href="#top-slider-item2"></a></li>
    <li><a href="#top-slider-item3"></a></li>
  </ul>
  <div id="top-slider-content" class="top-slider-content" style="width: 260px; height: 260px;">
    <a class="top-slider-content-inner" href="#content01" style="color: #999999; width: 260px; height: 260px;">
      <img class="top-slider-logo" src="https://demo.tcd-theme.com/tcd041/wp-content/uploads/2016/11/logo.png" alt="">
      <p class="top-slider-text" style="color: #999999; font-size: 14px;">JUST FOR YOU<br /> TCD WORDPRESS THEME</p>
    </a>
  </div>
</div>
