{% macro default(item) %}
<a href="{{ item.link }}" class="news-card">
  <div class="news-card__img">
    <img width="280" height="280" src="{{ item.img }}" alt="" loading="lazy">
  </div>
  <div class="news-card__content">
    <time class="news-card__date">{{ item.date }}</time>
    <h3 class="news-card__heading">{{ item.heading }}</h3>
    <p class="news-card__text">{{ item.text }}</p>
  </div>
</a>
{% endmacro %}
