{% macro default(item) %}
<article class="">
  <div>
    <a class="" href="{{ item.link }}">
      <img width="280" height="280" src="{{ item.img }}" class="" alt="" loading="lazy">
    </a>
  </div>
  <div class="article02-content">
    <time class="article02-date" datetime="2016-09-13">2016.09.13</time>
    <h3 class="article02-title">
      <a href="{{ item.link }}">{{ item.heading }}</a>
    </h3>
    <p class="">{{ item.text }}</p>
  </div>
</article>
{% endmacro %}
